.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 0 20px;
    font-family: "Exo 2", sans-serif;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.delay {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.button-container {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.landing-button {
  padding: 12px 24px;
  background:#00c4cb64;
  box-shadow: 0 0 3px #00c4cb;
  border:none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.8s;
  font-family: "Exo 2", sans-serif;
}
p{
font-family: "Exo 2", sans-serif;
font-size: 1.2rem;
}
.landing-button:hover {
  background:#00c4cb0b;
}
