#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}
body{
  Background: #F3F0FF;
  /* background-image: url('./assets/background.jpg'); */
  background: linear-gradient(to bottom, #001615, #00C5CB);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
body,html{
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.game{
  height: 68vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
@media (max-width: 600px) {
  .game {
    height: 60vh;
  }
}
.board{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box{
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  background-color: #ffffff68;
  font-size: 2.8rem;
  overflow: hidden;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 0 0 2.5px #00c4cb;
  
}


.category-container{
display: flex;
justify-content: center;
align-items: center;
}

.category{
  display: grid;
  gap: 1rem;
  padding: 2rem;
}

.buttons button:hover{
  transform: scale(1.05);
  transition: transform 0.5s ease;

}

.buttons{
display: grid;
gap: 1rem;
height: 5rem;
cursor: pointer;
}

.buttons button{
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 1rem;
  /* background-image: url('./assets/buttonbackground.jpg'); */
  background:#00c4cb64;
  box-shadow: 0 0 3px #00c4cb;
  border:none;
  color: #fff;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

h2,.h2{
  color: rgba(255, 255, 255, 0.779);
  box-shadow: 0 0 3px #00c4cb;
  padding: 0.9rem;
  border-radius: 1rem;
  margin: auto;
  text-decoration: none;
  
}

.h2{
  background:#00c4cb64;
  box-shadow: 0 0 3px #00c4cb;
}
.heading{
  color: rgba(255, 255, 255, 0.779);
  box-shadow: 0 0 3px #00c4cb;
  padding: 0.9rem;
  border-radius: 1rem;
  text-align: center;

}

/* .outerspan{
display: flex;
gap: 1rem;

}
.innerspan{
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 1rem;
  box-shadow: 0 0 3px #00c4cb;
  padding: 0.2rem;
} */

.outerspan{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.startreset{
  color: rgb(255, 255, 255);
  box-shadow: 0 0 6px #009095;
  padding: 0.9rem;
  border-radius: 1rem;
  margin: auto;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 90%;


}
#reset{
  color: rgba(255, 255, 255, 0.779);
  box-shadow: 0 0 3px #005a5d;
  padding: 0.9rem;
  border-radius: 1rem;
  margin: auto;
  text-decoration: none;
  background-color: transparent;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.godiv{
  height: 100vh;
  box-sizing: border-box;
}
.ready{
  font-weight: 600;
}